<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你的笔记</title>
    <style>
        input {
            width:20px;
        }
    </style>
</head>
<body>
    <p>
        <table border="1" cellspacing="10">
            <tr>
                <th>标题</th>
                <th>创建时间</th>
                <th>最近更新</th>
            </tr>
            <?php foreach($res as $k=>$v):?>
                <tr>
                    <td><a href="index.php?c=edit&a=render&nid=<?=$v['id']?>"><?=$v['title']?></a></td>
                    <td><?=join(':',explode(':',$v['created_time'],-1))?></td>
                    <td><?=join(':',explode(':',$v['updated_time'],-1))?></td>
                </tr>
            <?php endforeach;?>
        </table>
    </p>
    <p>
        <a href="index.php?c=edit&a=render">添加笔记</a>
        <a href="index.php?c=notes&a=render&pageno=<?=$pageno-1?>" class="before">上一页</a>
        <span class="page_controller">第
            <input type="text" value="<?=$pageno?>" required="^[0-9]+$" name="pageno" class="current_page">
            /<span class="count"><?=$count?></span>页
        </span>
        <a href="index.php?c=notes&a=render&pageno=<?=$pageno+1?>" class="after">下一页</a>
        <a href="index.php?c=notes&a=lobby">返回</a>
    </p>
</body>
    <script src="Public/js/jquery.js"></script>
    <script src="Public/js/mynotes.js"></script>
</html>