.title {
    width:25vw;
}
.files {
    border:1px solid #ccc;
    width: 505px;
    box-sizing: border-box;
}
.pic, .file, .nfile, .icon {
    width:50px;
    height:50px;
}
.main, .file, .container,.nfile {
    display:flex;
}
.myfile {
    margin-left:10px;
}
button a {
    text-decoration: none;
    color:black;
}
.tarea {
    width:30vw;
    height:40vh;
    border:1px solid #ccc;
}
.file, .nfile {
    display:flex;
    border:1px solid black;
    width:100px;
    height:100px;
    flex-direction:column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    float:left;
    user-select: none;
}
.file, .handling, .img {
    cursor:pointer;
    user-select: none;
}
.pic {
    width:90px;
    height:90px;
}
.file span, .nfile span {
    display:inline-block; 
    width:80px; 
    height:25px; 
    line-height: 25px;
    text-overflow: ellipsis;
    word-break: break-all; 
    white-space: nowrap; 
    overflow: hidden;
    text-align: center;
}
.selected {
    border:1px solid red;
}
.nid, .route, .myfile, .delnote{
    display:none;
}
.addfile, .delfile{
    margin-left:10px;
    height:25px;
}
.edit, .save{
    margin-left:10px;
}
.canceled {
    opacity: 0.5;
}
.cover {
    width:100vw;
    height:200vh;
    background:rgba(0,0,0,0.3);
    display:flex;
    justify-content:center;
    cursor:pointer;
}
.cover img {
    position:absolute;
    margin-top:100px;
    user-select:none;
}
.wrapper {
    width:100vw;
    height:100vh;
    position:relative;
    overflow:hidden;
}
label {
    user-select: none;
}
* {
    padding:0%;
    margin:0%;
}
.inner {
    position:absolute;
    left:10px;
}
.inner p {
    margin-top:15px;
}
.beneath {
    z-index:-1;
}